.version.index /* version checker */
{
	color: #000011;
	background-color: #3A1E67;
}

#page
{
	z-index: 1;
	min-height: 3061px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#pu115
{
	padding-bottom: 1px;
	margin-right: -10000px;
	width: 101.78%;
	margin-left: 0.89%;
}

#u115
{
	z-index: 2;
	position: relative;
	width: 98.26%;
	margin-left: 0.88%;
}

#ppu220
{
	margin-right: -10000px;
	margin-top: 59px;
	width: 30.73%;
	margin-left: 18.7%;
}

#u220
{
	z-index: 6;
	position: relative;
	margin-right: -10000px;
	width: 19.16%;
}

#u436-4
{
	z-index: 8;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 76.78%;
	left: 23.23%;
}

#u1165-4
{
	z-index: 130;
	margin-top: 136px;
	position: relative;
	width: 86.95%;
	margin-left: 9.33%;
}

#u200
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	width: 24.38%;
	left: 52.3%;
}

#pu1195
{
	margin-top: 48px;
	width: 99.6%;
}

#u1195
{
	z-index: 21;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	width: 100%;
}

#u442
{
	z-index: 22;
	height: 113px;
	position: relative;
	width: 57.56%;
	margin-left: 21.43%;
}

#u1158
{
	z-index: 23;
	height: 397px;
	margin-top: 587px;
	position: relative;
	width: 100%;
}

#u465
{
	z-index: 26;
	position: relative;
	margin-right: -10000px;
	margin-top: 742px;
	width: 37.21%;
	left: 16.76%;
}

#u1189
{
	z-index: 41;
	margin-bottom: -37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 96.97%;
	left: 1.52%;
}

#u468-4
{
	z-index: 46;
	position: relative;
	width: 46.59%;
	margin-left: 1%;
}

#u461-4
{
	z-index: 42;
	margin-top: 51px;
	position: relative;
	width: 100%;
}

#u1201
{
	z-index: 50;
	position: relative;
	margin-right: -10000px;
	width: 57.15%;
	left: 21.54%;
}

#u471-4
{
	z-index: 125;
	position: relative;
	width: 28.96%;
	margin-left: 38.22%;
}

#pu1186
{
	margin-top: 121px;
	width: 100%;
}

#u1186
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	width: 98.84%;
}

#u483
{
	z-index: 52;
	height: 135px;
	position: relative;
	width: 99.28%;
	margin-left: 0.73%;
}

#u510
{
	z-index: 53;
	height: 135px;
	margin-top: 140px;
	position: relative;
	width: 99.28%;
}

#u1168
{
	z-index: 54;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	width: 27.43%;
	left: 0.72%;
}

#u1242
{
	z-index: 63;
	position: relative;
	width: 36.4%;
	margin-left: 29.51%;
}

#u528-4
{
	z-index: 59;
	margin-top: 16px;
	position: relative;
	width: 42.96%;
	margin-left: 25.58%;
}

#u525-4
{
	z-index: 55;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u1183
{
	z-index: 65;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 21.95%;
	left: 2.34%;
}

#u1228
{
	z-index: 74;
	position: relative;
	width: 26.64%;
	margin-left: 48.78%;
}

#u489-4
{
	z-index: 70;
	margin-top: 21px;
	position: relative;
	width: 84.43%;
	margin-left: 15.17%;
}

#u480-4
{
	z-index: 66;
	margin-top: 11px;
	position: relative;
	width: 100%;
}

#u1180
{
	z-index: 76;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 30.13%;
	left: 36.97%;
}

#u1221
{
	z-index: 85;
	position: relative;
	width: 20.9%;
	margin-left: 33.14%;
}

#u507-4
{
	z-index: 77;
	margin-top: 15px;
	position: relative;
	width: 61.5%;
	margin-left: 14.93%;
}

#u495-4
{
	z-index: 81;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u1177
{
	z-index: 87;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	width: 17.63%;
	left: 41.37%;
}

#u1214
{
	z-index: 96;
	position: relative;
	width: 22.45%;
	margin-left: 37.76%;
}

#u513-4
{
	z-index: 88;
	margin-top: 15px;
	position: relative;
	width: 86.23%;
	margin-left: 7.66%;
}

#u516-4
{
	z-index: 92;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

#u1171
{
	z-index: 98;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	width: 30.04%;
	left: 69.43%;
}

#pu1249
{
	width: 47.91%;
	margin-left: 19.17%;
}

#u1249
{
	z-index: 111;
	position: relative;
	margin-right: -10000px;
	width: 57.5%;
}

#u1206
{
	z-index: 109;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 41.88%;
	left: 58.13%;
}

#u519-4
{
	z-index: 99;
	margin-top: 12px;
	position: relative;
	width: 71.26%;
	margin-left: 13.18%;
}

#u522-6
{
	z-index: 103;
	position: relative;
	width: 100%;
}

#u1174
{
	z-index: 113;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 30.13%;
	left: 69.88%;
}

#u1235
{
	z-index: 123;
	position: relative;
	width: 23.89%;
	margin-left: 35.83%;
}

#pu492-5
{
	margin-top: 25px;
	width: 100%;
}

#u492-5
{
	z-index: 114;
	position: relative;
	margin-right: -10000px;
	width: 97.62%;
	left: 1.2%;
}

#u498-4
{
	z-index: 119;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 100%;
}

#u1154
{
	z-index: 129;
	min-height: 336px;
	position: relative;
	margin-right: -10000px;
	margin-top: 781px;
	width: 26.06%;
	left: 54.78%;
}

#u1192
{
	z-index: 27;
	padding-bottom: 0px;
	margin-top: 33px;
	position: relative;
	width: 59.37%;
	margin-left: 20.32%;
}

#u445-7
{
	z-index: 28;
	position: relative;
	width: 100%;
}

#u448-4
{
	z-index: 35;
	position: relative;
	width: 13.88%;
	margin-left: 43.8%;
}

#u451
{
	z-index: 39;
	margin-top: 31px;
	position: relative;
	width: 4.75%;
	margin-left: 47.59%;
}

#u1161
{
	z-index: 3;
	margin-top: 80px;
	position: relative;
	width: 100%;
}

#u273
{
	z-index: 24;
	position: relative;
	margin-right: -10000px;
	width: 98.26%;
	left: 0.88%;
}

#u1198
{
	z-index: 12;
	padding-bottom: 0px;
	margin-top: 54px;
	position: relative;
	width: 30.4%;
	margin-left: 35.27%;
}

#u949-4
{
	z-index: 17;
	position: relative;
	width: 100%;
}

#pu932
{
	margin-top: 54px;
	width: 80.81%;
	margin-left: 10.27%;
}

#u932
{
	z-index: 13;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	width: 52.09%;
}

#u1090
{
	z-index: 15;
	position: relative;
	margin-right: -10000px;
	width: 46.46%;
	left: 53.55%;
}

#slideshowu2158
{
	z-index: 134;
	width: 0.01px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 1093px;
}

#u2165
{
	position: absolute;
	width: 209px;
	height: 366px;
}

#u2165popup
{
	z-index: 135;
}

#u2166
{
	z-index: 136;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2248
{
	z-index: 138;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2268
{
	z-index: 140;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2288
{
	z-index: 142;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2308
{
	z-index: 144;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2328
{
	z-index: 146;
	width: 209px;
	height: 366px;
	margin-right: -10000px;
	position: relative;
}

#u2166_img,#u2248_img,#u2268_img,#u2288_img,#u2308_img,#u2328_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 200px;
	padding-bottom: 53px;
}

#u932_img
{
	width: 99.6%;
}

#pu220,#u220_img,#u200_img,#u1242_img,#u1228_img,#u1221_img,#u1214_img,#u1249_img,#u1206_img,#u1235_img,#u451_img,#u273_img,#u1090_img
{
	width: 100%;
}

